<section id="6">
    <!-- Toolbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">

            <img src="../assets/images/logos/logoMenu.png" class="img-fluid logo" alt="Logo Fiocruz" />

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li><a href="index.html">Home</a></li>
                    <!-- <li><a href="material-complementar.html">Material Complementar</a></li> -->
                    <li><a href="referencias.html">Referências</a></li>
                    <li><a href="creditos.html">Créditos</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="row" id="row-main">
        <!-- Sidebar -->
        <div class="col-md-2" id="sidebar">
            <app-menu-lateral></app-menu-lateral>
        </div>

        <div class="col-md-10" id="content" tabindex="0">
            <div class="conteudo">
                <p class="indice">Módulo1/Atividade</p>
                <h1>Muito bem, você chegou ao final do módulo 1</h1>

                <h3>Mas antes de seguir em frente, que tal fixar alguns pontos aprendidos até aqui? Vamos lá!</h3>

                <div>
                    <ol>
                        <li *ngFor="let pergunta of perguntas">
                            <span [innerHTML]="formatText(pergunta.texto, ['Aedes', 'aegypti', 'albopictus'])">{{ pergunta.texto }}</span> <br>

                            <div class="alternativas">
                                <div *ngFor="let opcao of opcoesResposta">
                                    <input class="input-radio" type="radio" [(ngModel)]="pergunta.resposta"
                                        [name]="pergunta.id" [value]="opcao.valor"
                                        (change)="verificarResposta(pergunta)">
                                    <label
                                        [ngClass]="{'resposta-correta': pergunta.resposta === opcao.valor && pergunta.resposta === pergunta.respostaCorreta, 'resposta-incorreta': pergunta.resposta === opcao.valor && pergunta.resposta !== pergunta.respostaCorreta}">
                                        <div class="radio-btn"></div>
                                        <b>{{opcao.texto}}</b>
                                    </label>
                                </div>
                            </div>

                            <p [innerHTML]="formatText(pergunta.resultado, ['Aedes', 'aegypti', 'albopictus'])">{{ pergunta.resultado }}</p>
                        </li>
                    </ol>
                </div>

                <!-- Botão Início Aula 1 -->
                <div class="row" id="botao">
                    <button class="btn btn-sm" id="botaoVoltar" role="button" aria-pressed="true" alt="Voltar"
                        (click)="voltar()"><strong>VOLTAR</strong></button>
                    <button [disabled]="!todasAsRespostasForamSelecionadas()" class="btn btn-sm" id="botaoAvancar"
                        role="button" aria-pressed="true" alt="Começar curso" (click)="ir()">
                        <strong>AVANÇAR</strong>
                    </button>
                </div>
            </div>
            <!-- Rodapé -->
            <app-rodape></app-rodape>
        </div>
    </div>
</section>